  
# Properly detect languages on Github
*.h linguist-language=cpp
*.inc linguist-language=cpp
*.gd linguist-language=GDScript

thirdparty/* linguist-vendored

# Normalize EOL for all files that Git considers text files
* text=auto eol=lf
